# Data
collecte-info/data/*.json
crawler/storage/
crawler/results.json
notebooks/data/*.json
notebooks/data/*.jsonl
notebooks/data/*.csv
data/postgres

# Cache & Co
__pycache__/
.pytest_cache
.venv/
.ruff_cache/
.uv/
.vscode
*.egg-info

# Files
.env
.coverage