# Data
collecte-info/data/*.json
storage/
crawler/results.json
notebooks/*
/data/

# Cache & Co
__pycache__/
.pytest_cache
.venv/
.ruff_cache/
.uv/
.vscode
*.egg-info

# Obsidian
.obsidian/
*.base

# Files
.env
.coverage