# Data
collecte-info/data/*.json
storage/
crawler/results.json
notebooks/data/*.json
notebooks/data/*.jsonl
notebooks/data/*.csv
data/

# Cache & Co
__pycache__/
.pytest_cache
.venv/
.ruff_cache/
.uv/
.vscode
*.egg-info

# Obsidian
.obsidian/
*.base

# Files
.env
.coverage